@{
    ViewData["Title"] = "Home Page";
}

<div class="row tnc-main">
    <div class="col">
        <img src="~/images/main_logo_white.png" alt="Welcome to The Next Company" class="img-fluid mx-auto d-block" />
    </div>
</div>