body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f4f4f0;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f4f4f0;
  font-weight: 300;
}

.logo {
  max-width: 12rem;
}
.coffee {
  max-width: 2rem;
  cursor: pointer;
}

h1 {
  color: #f05a22;
  font-size: 3rem;
}

.sitioencontruccion {
  color: #0c2342;
  font-size: 3.5rem;
  font-weight: 300 !important;
}

.sitioencontruccionmobile {
  color: #0c2342;
  font-size: 2rem;
  font-weight: 300 !important;
}
.fixedbottom {
  position: fixed;
  bottom: 5rem;
}
.btnagenda {
  background-color: #f05a22;
  border-radius: 30px;
  color: white;
  font-weight: 300;
  cursor: pointer;
}

.btnagenda:hover {
  background-color: #d44d1c;
  color: #fff;
}

.coolstuff {
  color: #8b8b8b;
  font-size: 1rem;
  position: fixed;
  bottom: 5rem;
  right: 3rem;
}

.coolstuff:hover {
  color: #0c2342;
}

/* OVERLAY */

.overlay-agenda {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f05a22;
  background-color: rgba(240, 90, 34, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  color: white;
}

.overlay-agenda h4 {
  color: white;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 60%;
}

.overlay-agenda a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay-agenda a:hover,
.overlay-agenda a:focus {
  color: #0c2342;
}

.overlay-agenda .closebtn {
  font-size: 60px;
  line-height: 30px;
}

input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  height: 40px;
  color: #0c2342;
  padding-left: 10px;
}

textarea {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  height: 40px;
  color: #0c2342;
  padding-left: 10px;
  line-height: 40px;
}

#send {
  background-color: #0c2342 !important;
  color: white !important;
  cursor: pointer;
}

#send :hover {
  background-color: #09172b !important;
}

input::placeholder {
  color: #8b8b8b;
  font-weight: 300;
}

textarea::placeholder {
  color: #8b8b8b;
  font-weight: 300;
}

#subject {
  height: 130px;
}

@media only screen and (max-width: 768px) {
  .overlay-agenda {
    background-color: #f36a38;
  }
  .overlay-content {
    top: 7%;
    width: 80%;
  }
  .overlay-agenda a {
    font-size: 20px;
  }
  .overlay-agenda .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  #subject {
    height: 80px;
  }
}
