body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f4f4f0;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f4f4f0;
}

.logo {
  max-height: 50px;
}

.contenido {
  max-width: 100%;
}

h1 {
  color: #f05a22;
  font-size: 3rem;
}
.sitioencontruccion {
  color: #0c2342;
  font-size: 4rem;
  font-weight: lighter !important;
}

/* COSAS VIEJAS */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}
